@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 340 80% 96%;
    --foreground: 340 50% 10%;
    --card: 0 0% 100%;
    --card-foreground: 340 50% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 340 82% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 340 70% 92%;
    --secondary-foreground: 340 50% 10%;
    --muted: 340 70% 92%;
    --muted-foreground: 340 30% 40%;
    --accent: 284 63% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 340 70% 88%;
    --input: 340 70% 88%;
    --ring: 340 82% 52%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 340 82% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 284 63% 42%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 340 82% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-alegreya;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-belleza);
  }
}
